<% user_list = User.all 
   user_list.delete(current_user)
%>
<div class="well">
  <h3>Admin Panel</h3>
  <div class="well">
    <table class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
      </tr>

    <% user_list.each do |user| %>
      <tr id="user_id_<%=user.id%>">
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Make admin', "/users/change_admin?id=#{user.id}", :class => 'btn btn-success btn-xs', method: :post, data: { confirm: 'Are you sure?' } %></td> 
        <td><%= link_to 'Destroy', "/users/delete_user?id=#{user.id}", :remote => true, :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div> 
  <%= link_to 'Back', space_vehicles_path, :class=> 'btn btn-default btn-sm'%>
</div>