<style type="text/css">
  .error{
    color: red;
  }
</style>

<%= form_for(@space_vehicle, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @space_vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space_vehicle.errors.count, "error") %> prohibited this space_vehicle from being saved:</h2>

      <ul>
      <% @space_vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- <div class="col-lg-6"> -->
    <div class="well">
      
      <div class="form-group">
        <%= f.label :name, "Name*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-10">  
          <%= f.text_field :name, :class=> "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :engine_power, "Engine power*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-10">  
          <%= f.number_field :engine_power, :class=> "form-control", :maxlength => 2 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :fuel_type, "Fuel type*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-10">  
          <%= f.collection_select :fuel_type, SpaceVehicle::FUEL_TYPES, :to_s, :humanize, {}, {:class=> "form-control"}%>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_date,"Start date*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-10">  
          <%= f.text_field :start_date, {:class=> "start_date form-control", :'data-behaviour'=>'datepicker'} %>
          
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :delivery_date,"Delivery date*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-10">  
          <%= f.text_field :delivery_date, {:class=> "form-control", :'data-behaviour'=>'datepicker'} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :vehicle_type,"Vehicle type*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-10">  
          <%= f.collection_select :vehicle_type, SpaceVehicle::VEHICLE_TYPES, :to_s, :humanize, {}, {:class=> "form-control"} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :can_carry,"Can carry*", :class=>"col-lg-2 control-label" %>
        <div class="col-lg-9">  
          <%= f.number_field :can_carry, :class=> "form-control" %>
        </div>
        <div class="carry_type col-lg-1" style="padding:7px;"> <strong>People</strong> </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit :class => "btn btn-primary"  %>
        </div>
      </div>

    </div>
  <!-- </div>   -->

  <% unless f.object.new_record? %>
    <script type="text/javascript">
      $(document).ready(function() {
        var vehicle_type = $('#space_vehicle_vehicle_type option:selected').val();
        if(vehicle_type == "satellite"){
          $('.carry_type').html("<strong>Kilograms</strong>");
        }
      });
    </script>
  <% end %>

<% end %>

<%= render 'space_vehicles.js.erb' %>
