<div class="well">
  <h3>My Space Vehicles</h3>
  <div class="well">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Engine power</th>
        <th>Fuel type</th>
        <th>Start date</th>
        <th>Delivery date</th>
        <th>Vehicle type</th>
        <th>Can carry</th>
        <!-- <th>User</th> -->
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @space_vehicles.each do |space_vehicle| %>
      <tr>
        <td><%= space_vehicle.name %></td>
        <td><%= space_vehicle.engine_power %></td>
        <td><%= space_vehicle.fuel_type %></td>
        <td><%= space_vehicle.start_date %></td>
        <td><%= space_vehicle.delivery_date %></td>
        <td><%= space_vehicle.vehicle_type %></td>
        <td><%= space_vehicle.can_carry %></td>
        <!-- <td><%= space_vehicle.user_id %></td> -->
        <td><%= link_to 'Details', "/services/space_vehicle_details.json?id=#{space_vehicle.id}", :class => 'btn btn-success btn-xs' %></td> 
        <td><%= link_to 'Shared With', "/services/space_vehicle_shared_with.json?id=#{space_vehicle.id}", :class => 'btn btn-success btn-xs' %></td> 
        <td><%= link_to 'Edit', edit_space_vehicle_path(space_vehicle), :class => 'btn btn-primary btn-xs' %></td>
        <% if space_vehicle.delivery_date < Date.today  %>
          <td><%= link_to 'Destroy', space_vehicle, :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div> <br/>
  <%= link_to 'New Space vehicle', new_space_vehicle_path, :class => 'btn btn-success btn-md' %>
  <% unless current_user.space_vehicles.blank? %> 
    <%= link_to "Share", "#shareModal", :'data-toggle' => "modal", :id => "share_vehicle", :class => 'btn btn-success btn-md' %> 
  <% end %>
</div>



<div class="well">
  <h3>Shared By Others</h3>
  <div class="well">
    <% unless @being_shared_vehicles.count.zero? %>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Engine power</th>
          <th>Fuel type</th>
          <th>Start date</th>
          <th>Delivery date</th>
          <th>Vehicle type</th>
          <th>Can carry</th>
          <th>Owner</th>
          <th></th>
          <!-- <th></th> -->
          <th></th>
        </tr>

      <% @being_shared_vehicles.each do |space_vehicle| %>
        <tr>
          <td><%= space_vehicle.name %></td>
          <td><%= space_vehicle.engine_power %></td>
          <td><%= space_vehicle.fuel_type %></td>
          <td><%= space_vehicle.start_date %></td>
          <td><%= space_vehicle.delivery_date %></td>
          <td><%= space_vehicle.vehicle_type %></td>
          <td><%= space_vehicle.can_carry %></td>
          <td><%= space_vehicle.user.email rescue nil %></td>
          <!-- <td><%#= link_to 'Show', space_vehicle, :class => 'btn btn-primary btn-xs' %></td> -->
          <td><%= link_to 'Edit', edit_space_vehicle_path(space_vehicle), :class => 'btn btn-primary btn-xs' %></td>
          <% if space_vehicle.delivery_date < Date.today  %>
            <td><%= link_to 'Destroy', space_vehicle, :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    <% else %>
      <h5> No Shared Vehicles </h5>
    <% end %>
  </div>
</div>

<%= render 'share_vehicle' %>